#header {
	width: 320px;
	text-align: center;
	vertical-align: center;
}

#container {
	height: 320px;
	width: 320px;
	outline: #993333 solid 1px;
	display: block;

}

.box {
	background-color: #3399FF;
	height: 20px;
	width: 20px;
	outline: white solid 1px;
	display: inline-block;
}

#reset {
	display: block;
	margin-bottom: 20px;
	position: relative;
	color: rgb(68, 68, 68);
  	font-weight: bold;
  	font-size:10px;
  	background: #2E8AE6;
  	height: 30px;
  	width: 80px;
  	border: 1px solid rgba(0, 0, 0, 0.1);
  	background: rgb(245, 245, 245);
  	font-size: 12px;
}